
    <div class="c-afterintro" id="after">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="c-post">
                    <div class="o-article o-article--medium">
                        
                        <blockquote>
                            <p>Na pewno dobrze wiesz, że prowadzenie własnego biznesu to ciężka praca przez wiele lat. Niestety ten wysiłek często idzie na marne, bo brakuje nam dobrego pomysłu na to, jak opowiadać o swojej ofercie.</p>
                        </blockquote>
                        
                        <hr class="dot">
                        
                        <p class="aligncenter"><strong>Od 15 lat pomagam przedsiębiorcom budować marki <br>i widzę, że ciągle powtarzają się dwa problemy:</strong></p>
                        
                        <p>&nbsp;</p>
                            
                        <ol>
                            <li>Jest świetny pomysł na biznes i wysokiej jakości oferta, ale nie ma pomysłu na to, co dalej. Jak o sobie opowiadać? Jak mam się wyróżnić? Jak się pokazać?</li>

                            <li>Biznes działa już jakiś czas, a jego twórcy tworzą markę trochę przypadkiem, „przy okazji”, tak jak czują. Nie ma planu, nie ma konsekwencji, nie ma efektów.</li>
                        </ol>
    
                        
                        <hr class="dot">
                        
                        <blockquote>
                            <p>Niestety – świetny pomysł na biznes, ciężka praca albo wysoka jakość to dopiero początek. Nie wystarczy, że stworzysz coś wartościowego. Musisz jeszcze opakować to w markę, która będzie przyciągała uwagę klientów.</p>
                        </blockquote>
                        
                        <hr class="dot">
                        
                        <img class="b-lazy alignleft" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/jacek-2.jpg") %> alt="">
                                           
                        <p>Jeśli nie masz ciekawego pomysłu na to, jak o sobie opowiadać albo Twój pomysł nie jest dobrze przemyślany, są małe szanse na dobre efekty.</p>
    
    <p>Jest za to spora szansa, że zmarnujesz czas, energię 
    i pieniądze na nieskuteczne działania, a Twojej oferty nikt nie zauważy.</p>
    
    <p>Innymi słowy: <strong>potrzebujesz marki z pomysłem</strong>.</p>
                        
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
