
    <div class="c-catboxes bg-gray" id="o-kursie">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Kurs online</h2>          

                    <div class="o-article o-article--huge">
                        <p>To brzmi łatwo w teorii, ale w praktyce trudno znaleźć pomysł, który będzie <strong>naprawdę</strong> dobry. Właśnie dlatego stworzyłem kurs online, który Ci pomoże.</p>
                    </div>
                </div>               

                <div class="c-boxes__items">
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-check"></i>
                            Znajdziesz<br> pomysł
                        </h4>
                        
                        <div class="o-article">
                            <p>Pokażę Ci krok po kroku jak opakować pomysł na biznes w&nbsp;świetną markę.</p>
                        </div>
                    </div>
                     
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-check"></i>
                            Stworzysz<br> plan
                        </h4>
                        
                        <div class="o-article">
                            <p>Kurs skończysz z gotowym i&nbsp;spisanym pomysłem na budowanie marki oraz planem na jego wdrażanie.</p>
                        </div>
                    </div>
                    
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-check"></i>
                            Zmniejszysz<br> ryzyko
                        </h4>
                        
                        <div class="o-article">
                            <p>Unikniesz sytuacji, w której odbiorcy nie zauważą i nie zrozumieją tego, co masz im do zaoferowania.</p>
                        </div>
                    </div>
                    
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-check"></i>
                            Oszczędzisz<br> czas i pieniądze
                        </h4>
                        
                        <div class="o-article">
                            <p>Nie zmarnujesz czasu, energii i&nbsp;pieniędzy na nieskuteczne działania, np. nietrafione akcje marketingowe, reklamy itp.</p>
                        </div>
                    </div>
                    
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-check"></i>
                            Ułatwisz<br> sobie pracę
                        </h4>
                        
                        <div class="o-article">
                            <p>Praca nad marką będzie łatwiejsza, bo stworzysz gotowe „klocki”, z których składa się jej przekaz.</p>
                        </div>
                    </div>
                    
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-check"></i>
                            Unikniesz<br> nieporozumień
                        </h4>
                        
                        <div class="o-article">
                            <p>Łatwiej będzie Ci zlecać prace nad marką, bo każdy będzie dobrze rozumiał jaki masz na nią pomysł.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
