
        <div class="c-cost bg-yellow" id="cena">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter bottom--112">
                        <h2 class="o-lead o-lead--2">ile to kosztuje</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>Właśnie trwa przedsprzedaż kursu, a to oznacza, że całość nie jest jeszcze gotowa. Lekcje będę sukcesywnie wgrywał na platformę kursową w lipcu i sierpniu, zgodnie z programem powyżej.</p>
                            
                            <p>&nbsp;</p>

<p><strong>W przedsprzedaży dostęp do kursu</strong></p>
<p><strong>jest znacznie tańszy i kosztuje:</strong></p>
                        </section>
                    </header> 
                    
    
                    <div class="c-cost__content">
                        
                        <div class="c-cost__price">
                            <p class="o-lead o-lead--old">899</p>
                            <p class="o-lead o-lead--current">599</p>
                            <p class="o-lead o-lead--5">netto</p>
                        </div>
                        
                        <header class="o-header aligncenter">
                            <h5 class="o-lead o-lead--5">w ramach tego<br> otrzymujesz:</h5>
                        </header>
                        
                        <article class="o-article">
                            <ul class="o-list o-list--graychecks">
                                <li>
                                    <p><strong>rabat</strong> związany z&nbsp;przedsprzedażą</p>
                                </li>
                                
                                <li>
                                    <p><strong>dożywotni dostęp</strong> do całości kursu 
oraz wszelkich późniejszych aktualizacji i&nbsp;bonusów</p>
                                </li>
                                
                                <li>
                                    <p><strong>własne konto</strong> na mojej autorskiej platformie kursowej</p>
                                </li>
                                
                                <li>
                                    <p><strong>dostęp do zamkniętej grupy</strong>, w której odpowiem na wszystkie Twoje pytania 
i w której będziesz mieć możliwość wymiany doświadczeń i kontaktów</p>
                                </li>
                                
                                <li>
                                    <p><strong>wpływ na kształt kursu</strong> i dopasowanie go do Twoich konkretnych pytań</p>
                                </li>
                            </ul>
                        </article>
                        
                        <div class="c-cost__cta">
                            <a href="#" class="o-btn o-btn--huge o-btn--black">Wow, kupuję!</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
