
    <div class="c-index" id="zawartosc">
        <div class="o-section">
            <div class="o-wrap">
                
                <header class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Spis treści</h2>          

                    <section class="o-article o-article--huge">
                        <p>Co dokładnie znajdziesz w kursie? Treść podzieliłem na dwie części, które poprzedza krótki wstęp. Rozwiń poniżej, żeby zobaczyć więcej szczegółów:</p>
                    </section>
                </header>
                

                <ul class="o-accordion js-accordion">
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">zanim zaczniesz</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Przygotujesz się do budowania marki.</p>
                            </li>
                            <li>
                                <p>Dowiesz się jakich błędów unikać na samym początku.</p>
                            </li>
                            <li>
                                <p>Zrozumiesz jakie kroki trzeba przejść, żeby stworzyć świetny plan dla marki.</p>
                            </li>
                            <li>
                                <p>Nauczysz się robić tzw. „audyt marki”, czyli podsumowanie dotychczasowych działań.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Planujesz</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Znajdziesz swoją niszę i najlepszą grupę odbiorców.</p>
                            </li>
                            
                            <li>
                                <p>Wybierzesz obszary, na których trzeba się skupić i te, które możesz odpuścić.</p>
                            </li>
                            
                            <li>
                                <p>Dowiesz się jakiego typu markę budujesz i co jest dla niej ważne.</p>
                            </li>
                            
                            <li>
                                <p>Zrozumiesz kontekst, w którym działasz i określisz jak wpływa on na Ciebie.</p>
                            </li>
                            
                            <li>
                                <p>Określisz na jakie potrzeby odbiorców powinna odpowiadać Twoja marka.</p>
                            </li>
                            
                            <li>
                                <p>Stworzysz obietnicę marki, której trudno się oprzeć.</p>
                            </li>
                            
                            <li>
                                <p>Określisz jaką zmianę oferujesz i jak Twoja marka ma wpływać na odbiorcę.</p>
                            </li>
                            
                            <li>
                                <p>Nauczysz się budować styl, osobowość i charakter Twojej marki.</p>
                            </li>
                            
                            <li>
                                <p>Stworzysz prosty i zrozumiały przekaz.</p>
                            </li>
                            
                            <li>
                                <p>Zrozumiesz jak dbać o autentyczność i wiarygodność w komunikacji.</p>
                            </li>
                            
                            <li>
                                <p>Znajdziesz sposób na to, jak się wyróżnić.</p>
                            </li>
                            
                            <li>
                                <p>Zaplanujesz jak marka ma być postrzegana i zapamiętana.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">wdrażasz</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Dowiesz się jakich zasad trzeba się trzymać, żeby skutecznie wdrażać pomysł na markę.</p>
                            </li>
                            
                            <li>
                                <p>Zrozumiesz na co zwracać uwagę, żeby stworzyć dobrą nazwę dla marki.</p>
                            </li>
                            
                            <li>
                                <p>Pokażę jak sprawić, żeby identyfikacja wizualna oddawała Twój pomysł na markę.</p>
                            </li>
                            
                            <li>
                                <p>Nauczę Cię opowiadać o Twojej marce krótko i zrozumiale.</p>
                            </li>
                            
                            <li>
                                <p>Powiem Ci co umieścić na Twojej stronie internetowej i pokażę jak dopasować ją do pomysłu na markę.</p>
                            </li>
                            
                            <li>
                                <p>Dowiesz się jak uwzględnić pomysł na markę w mediach społecznościowych.</p>
                            </li>
                            
                            <li>
                                <p>Omówię jak dopasować język, słowa i teksty do pomysłu na markę.</p>
                            </li>
                            
                            <li>
                                <p>Pokażę Ci jak stworzyć brand book, czyli zasady i procedury dla marki.</p>
                            </li>
                            
                            <li>
                                <p>Podpowiem z jakich narzędzi, programów i aplikacji korzystać tworząc markę.</p>
                            </li>
                            
                            <li>
                                <p>Pokażę Ci skąd czerpać dodatkową wiedzę i inspiracje na temat budowania marki.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
