
    <div class="c-index" id="zawartosc">
        <div class="o-section">
            <div class="o-wrap">
                
                <header class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Spis treści</h2>          

                    <section class="o-article o-article--huge">
                        <p>Co dokładnie znajdziesz w kursie? Treść podzieliłem na dwie części, które poprzedza krótki wstęp. Rozwiń poniżej, żeby zobaczyć więcej szczegółów:</p>
                    </section>
                </header>
                

                <ul class="o-accordion js-accordion">
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">zanim zaczniesz</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Tak, oczywiście. Pamiętaj tylko, żeby podać dane przy zakupie kursu. Zakup kursu możesz wpisać w koszty, dzięki temu będzie on dla Ciebie dużo tańszy.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Planujesz</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Znajdziesz swoją niszę i najlepszą grupę odbiorców.</p>
                            </li>
                            
                            <li>
                                <p>Wybierzesz obszary, na których trzeba się skupić i te, które możesz odpuścić.</p>
                            </li>
                            
                            <li>
                                <p>Zrozumiesz kontekst, w którym działasz i określisz jak wpływa on na Ciebie.</p>
                            </li>
                            
                            <li>
                                <p>Określisz na jakie potrzeby odbiorców odpowiadać i jaka jest obietnica marki.</p>
                            </li>
                            
                            <li>
                                <p>Określisz jaką zmianę oferujesz i jak Twoja marka ma wpływać na odbiorcę.</p>
                            </li>
                            
                            <li>
                                <p>Nauczysz się budować styl, osobowość, charakter i autentyczność Twojej marki.</p>
                            </li>
                            
                            <li>
                                <p>Znajdziesz najlepsze wyróżniki, na których warto bazować.</p>
                            </li>
                            
                            <li>
                                <p>Zaplanujesz jak marka ma się pozycjonować, jak być postrzegana i zapamiętana.</p>
                            </li>
                            
                            <li>
                                <p>Zrozumiesz jak poradzić sobie z wieloma markami w Twojej firmie.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">wdrażasz</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Tak, oczywiście. Pamiętaj tylko, żeby podać dane przy zakupie kursu. Zakup kursu możesz wpisać w koszty, dzięki temu będzie on dla Ciebie dużo tańszy.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
