
    <nav class="c-nav">
        <ul class="c-nav__menu">
            <li>
                <a href="#">O kursie</a>
            </li>
            
            <li>
                <a href="#">Zawartość</a>
            </li>
            
            <li>
                <a href="#">O mnie</a>
            </li>
            
            <li>
                <a href="#">Cena</a>
            </li>
        </ul>
    </nav>

