
        <div class="c-why bg-gray">
            <div class="o-section">
                <div class="o-wrap">                    
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            
                            <header class="o-header bottom--112 js-sticky">
                                
                                <img src=<%= require("./img/photos/jacek-klosinski.png") %> alt="jacek kłosiński" width="76" height="76">
                                
                                <h6 class="o-lead o-lead--6">jeśli się zastanawiasz</h6>

                                <h3 class="o-lead o-lead--3">dlaczego teraz jest najlepszy moment na zakup kursu</h3>
                            </header>                            
                        </div>
    
                        <div class="o-cols__item">

                            <ul class="o-list o-list--yellowchecks">
                                <li>Dostęp <strong>nie ma ograniczeń czasowych</strong>. Przerabianie kursu możesz zacząć 
                                w dowolnym momencie. Nawet za rok.</li>
                                
                                <li>W kolejnych edycjach wszystkie te elementy nie będą zawarte w jednym pakiecie, a cena będzie znacznie wyższa. 
                                <strong>Promocyjna oferta dotyczy tylko przedsprzedaży</strong>.</li>
                                
                                <li>Otrzymujesz narzędzia i wiedzę, którą agencje wyceniają przynajmniej <strong>kilkukrotnie wyżej</strong>.</li>
                                
                                <li><strong>Całą tę wiedzę</strong> dostajesz w cenie projektu dwóch bannerów albo kilku reklam na Facebooku.</li>
                                
                                <li>Dostajesz możliwość wpływu na kształt kursu i dostosowania go do <strong>Twoich</strong> konkretnych <strong>pytań i problemów</strong>. </li>
                                
                                <li>Jeśli działasz w branży marketingowej, 
                                <strong>mój proces</strong> możesz wykorzystać jako swoją usługę, którą wycenisz wielokrotnie wyżej niż koszt kursu.</li>
                            </ul>
                            
                            <div class="c-why__cta">
                                <a href="#" class="o-btn o-btn--huge o-btn--black">Racja, kupuję!</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
