.c-afterintro {
    
    .o-article {
        ol {
            max-width: 640px;
            margin: 0 auto;
        }
    }
    
    .o-section {
        padding-bottom: 152px;
        
        @media ( max-width: $smartphone_portrait + px ) {
        	padding-bottom: 80px;
        }
        
        @media ( max-width: $small + px ) {
        	padding-bottom: 64px;
        }
    }
}